Chromadb
Flask
google-search-results
jupyterlab_widgets
ipywidgets
langchain==0.0.157
#matplotlib # required by openai.embeddings
numpy
openai
PyCryptodome # required by pypdf
pypdf
sentencepiece==0.1.97
sentence-transformers
tiktoken # required by langchain's OpenAIEmbeddings

